.UserProfile {
	position: relative;
	top: 100px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(1fr, auto);
	grid-row-gap: 20px;
	grid-template-areas: 
						'header header'
						'orders userinfo';
}

.Header {
	grid-area: header;
}